
  <div class="dashboard-container">
    <h1 class="title">Dashboard</h1>

    <!-- Button Grid -->
    <div class="button-grid">
      <div class="grid-item">
        <a href="/dreams" class="dashboard-link">View Dreams</a>
      </div>
      <div class="grid-item">
        <a href="/insights" class="dashboard-link">imagination</a>
      </div>
      {{!-- <div class="grid-item">
        <a href="/interpretations" class="dashboard-link">AI Interpretation</a>
      </div> --}}
      <div class="grid-item">
        <button id="logout" class="dashboard-link">Logout</button>
      </div>
    </div>


</body>
</html>
