{{!-- homepage.handlebars --}}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to DreamNet</h1>
    <nav>
        {{#if isAuthenticated}}
            <a href="/dashboard">Dashboard</a>
        {{else}}
            <a href="/login">Login/Signup</a>
        {{/if}}
    </nav>
</body>
</html>
