<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insights</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Dream Insights</h1>
    {{#if logged_in}}
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
    {{else}}
      <a href="/login">Login</a>
    {{/if}}
  </header>
  <main>
    <div id="interpretations-container">
      <!-- Interpretations will be loaded here by JavaScript -->
    </div>
  </main>
  <script src="/js/insights.js"></script>
</body>
</html>
