
    {{!-- interpretation.handlebars --}}
    
  <div class="dreamcatcher">
    <img src="/images/dreamcatcher4x4.png" alt="Dreamcatcher">
</div>
<div class="container">
    <h1 class="title">dreamNET</h1>
    <form id="dreamForm" action="/interpretations" method="POST">
        <label for="dreamInput">Enter your dream:</label>
        <textarea id="dreamInput" name="dream_description" rows="10" cols="50"></textarea>
        <button type="submit">Interpret Dream</button>
    </form>
    <div id="resultContainer" style="display: none;">
        <h3>Interpretation Result:</h3>
        <div id="result"></div>
    </div>
   <div id="previousInterpretations">
    <h3>Previous Interpretations:</h3>
    {{#each interpretations}}
        <div class="interpretation">
            <p><strong>Dream:</strong> {{this.dream_description}}</p>
            <p><strong>Interpretation:</strong> {{this.interpretation_text}}</p>
        </div>
    {{/each}}
</div>

</div>
<script src="/js/script.js"></script>
